* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(128deg, #e8ac29, #a02bec);
    min-height: 100vh;

}
.clear{
    clear:both;
}

.container {
    max-width: 800px;
    margin: auto auto;
    padding: 10px;
}

.txtb {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    outline: none;
}

.notcomp {
    margin: 20px 0;
}

.task {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    overflow: hidden;
}
.task i {
    margin-left: 20px;
    float: right;
    cursor: pointer;
}
.notcomp .task {
    background-color: rgba(255,255,255,0.2);
}
.comp .task {
    background-color: rgba(0,0,0,0.2);

}

.task-detail-mask {
    display:none;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;

}

.task-detail {
    display: none;
    margin-left: 50%; 
    top: 100px;                                                                                                                                                                                                           ;
    position: fixed;
    background: #ffffff;
    z-index: 2;
}
.task-detail i, 
.task-content,
textarea,
.date-info,
button {
    margin: 10px 10px;
    padding: 5px;
    display: block;
}
/* .task-detail i {
    float: right;
} */

#notcomptoggler,
#comptoggler {
    float: right;
}
h3 {
    display: block;
    margin: 10px 0;
}